/** CSS Grid container **/

.events-container-desktop {
  display: grid;

  grid-template-columns: [title-left-spacer-col-start title-bottom-col-start left-spacer-col-start]
              auto
              [title-left-spacer-col-end title-col-start left-spacer-col-end sidebar-col-start]
              400px
              [sidebar-col-end content-col-start]
              700px
               [right-spacer-col-start content-col-end title-col-end title-right-spacer-col-start]
               auto
              [ right-spacer-col-end title-bottom-col-end title-right-spacer-col-end];

  grid-template-rows:   [title-row-start]
              100px
              [title-row-end title-bottom-row-start]
              10px
              [title-bottom-row-end sidebar-row-start content-row-start spacer-row-start]
              700px
              [sidebar-row-end content-row-end spacer-row-end];

  height: 80%;
  width: 100%;



}

.events-left-spacer {
  grid-column-start: left-spacer-col-start;
  grid-column-end: left-spacer-col-end;
  grid-row-start: spacer-row-start;
  grid-row-end: spacer-row-end;
}

.events-right-spacer {
  grid-column-start: right-spacer-col-start;
  grid-column-end: right-spacer-col-end;
  grid-row-start: spacer-row-start;
  grid-row-end: spacer-row-end;
}

.events-item-title-left-spacer {
  grid-column-start: title-left-spacer-col-start;
  grid-column-end: title-left-spacer-col-end;
  grid-row-start: title-row-start;
  grid-row-end: title-row-end;
}

.events-item-title-right-spacer {
  grid-column-start: title-right-spacer-col-start;
  grid-column-end: title-right-spacer-col-end;
  grid-row-start: title-row-start;
  grid-row-end: title-row-end;
}


.events-item-title {
  grid-column-start: title-col-start;
  grid-column-end: title-col-end;
  grid-row-start: title-row-start;
  grid-row-end: title-row-end;
}

.events-item-title-bottom {
  grid-column-start: title-bottom-col-start;
  grid-column-end: title-bottom-col-end;
  grid-row-start: title-bottom-row-start;
  grid-row-end: title-bottom-row-end;
}

.events-item-sidebar {
  grid-column-start: sidebar-col-start;
  grid-column-end: sidebar-col-end;
  grid-row-start: sidebar-row-start;
  grid-row-end: sidebar-row-end;

 


}

.events-item-content {
  grid-column-start: content-col-start;
  grid-column-end: content-col-end;
  grid-row-start: content-row-start;
  grid-row-end: content-row-end;
}

.events-box-sidebar {
  border-color: black;
  border-weight: 1px;
  border-style: solid; 
}

.events-box-content {
  border-color: black;
  border-weight: 1px;
  border-style: solid; 
}



.map {
 width: 300px;
 margin: 20px;
}


.title-color {
  background-color: rgb(164, 93, 239);
}

.title-spacer-color {
 background-color: rgb(216, 216, 210);
}



.space-color {
    background-color: rgb(239, 237, 239);
}


.content-color {
    background-color: rgb(239, 237, 239);
}

.content-container {
  border-style: solid;
  border-color: rgb(183, 181, 181);
  border-width: 1px;
  margin: 30px 20px;
  padding: 10px;

  width: 85%;
  height: auto;
  border-radius: 10px;
  background-color: rgb(252, 247, 251);

  box-shadow: 2px 4px rgb(183, 181, 181);
}




.events-title-container-desktop {
  display: grid;

  grid-template-columns: [title-col-start]
                         60%
                         [title-col-end desc-col-start]
                         40%
                         [desc-col-end];

  grid-template-rows: [title-sub-row-start date-row-start]
                      25%
                      [title-sub-row-end title-start]
                      25%
                      [date-row-end address-row-start]
                      50%
                      [address-row-end title-end];

  height: 100%;
  width: 100%;
}

.events-title-font-format {
  display: flex;
  align-items: center;
  font-family: Trebuchet MS;
  color: white;
}

.events-title-desc {
  grid-column-start: title-col-start;
  grid-column-end: title-col-end;
  grid-row-start: title-sub-row-start;
  grid-row-end: title-sub-row-end;

  font-style: italic;
  font-size: 18;
}

.events-title-title {
  grid-column-start: title-col-start;
  grid-column-end: title-col-end;
  grid-row-start: title-start;
  grid-row-end: title-end;

  font-size: 60;
  font-weight: bold;
}

.events-title-date {
  grid-column-start: desc-col-start;
  grid-column-end: desc-col-end;
  grid-row-start: date-row-start;
  grid-row-end: date-row-end;
}

.events-title-location {
  grid-column-start: desc-col-start;
  grid-column-end: desc-col-end;
  grid-row-start: address-row-start;
  grid-row-end: address-row-end;

  
}


.map {
 width: 300px;
 margin: 20px;
}