.page-navbar {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    height: 15vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: white;
    text-decoration: none;
}